<section class="banner">
    <div class="banner-info">
        <span class="pill">
            <img src="/vacuna.png" alt="vacuna-icon">
            don't be upset, let's get vaccinated
        </span>
        <h2>
            With Vaccination <br> We Can End This <br> Pandemic
        </h2>
        <p>
            With vaccination, we can reduce the number of cases of 
            Covid-19 transmission, and can create herd immunity
        </p>
        <div class="btn">
            <a href="#" class="btn-accion">Make Appoinment</a>
        </div>
    </div>
    <div class="banner-imagen">
        <img src="/imagen.png" alt="portada">
    </div>
</section>