<header>
  <img src="/logovacksin.png" alt="logo" />
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#" class="btn-accion">Call Center</a></li>
    </ul>
  </nav>
</header>
