<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Vacksin Health Page" />
		<meta name="description" content="Esta es una SPA construida con Astro para una campaña ficticia de de vacunas por parte de una Clinica u Organizacion de Salud." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://astro-health-page.pages.dev/" />
		<meta property="og:title" content="Vacksin Health Page" />
		<meta property="og:description" content="Esta es una SPA construida con Astro para una campaña ficticia de de vacunas por parte de una Clinica u Organizacion de Salud." />
		<meta property="og:image" content="https://i.imgur.com/mOVGY8F.jpeg" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://astro-health-page.pages.dev/" />
		<meta property="twitter:title" content="Vacksin Health Page" />
		<meta property="twitter:description" content="Esta es una SPA construida con Astro para una campaña ficticia de de vacunas por parte de una Clinica u Organizacion de Salud." />
		<meta property="twitter:image" content="https://i.imgur.com/mOVGY8F.jpeg" />
		<title>Vacksin Health Page</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
